.logo__directorioTuristico {
    width: 10rem;
    height: auto;
    margin-left: 10rem;
    transform: scaleX(2);
    transform: scaleY(0.7);
}

.header__logo {
    width: 24rem;
    height: 10rem;
}